.dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  }
  
@font-face {
    font-family: 'Playlist';
        src: url('/assets/fonts/Playlist-Script.woff2') format('woff2'), 
            url('/assets/fonts/Playlist-Caps.woff2') format('woff2'), 
            url('/assets/fonts/Playlist-Ornament.woff2') format('woff2'), 
            url('/assets/fonts/Playlist-Ornament.woff') format('woff'), 
            url('/assets/fonts/Playlist-Script.woff') format('woff')    
            url('/assets/fonts/Playlist-Caps.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sansumi';
        src: url('/assets/fonts/Sansumi-Bold.woff2') format('woff2'),
            url('/assets/fonts/Sansumi-Bold.woff') format('woff'),
            url('/assets/fonts/Sansumi-DemiBold.woff2') format('woff2'), 
            url('/assets/fonts/Sansumi-Regular.woff2') format('woff2'), 
            url('/assets/fonts/Sansumi-UltraLight.woff2') format('woff2'), 
            url('/assets/fonts/Sansumi-DemiBold.woff') format('woff'), 
            url('/assets/fonts/Sansumi-Regular.woff') format('woff')    
            url('/assets/fonts/Sansumi-UltraLight.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caviar Dreams';
        /* src: url('/assets/fonts/CaviarDreams-Bold.woff2') format('woff2'),
            url('/assets/fonts/CaviarDreams-Bold.woff') format('woff'),
            url('/assets/fonts/CaviarDreams-BoldItalic.woff2') format('woff2'), 
            url('/assets/fonts/CaviarDreams-Italic.woff2') format('woff2'),  */
            src:url('/assets/fonts/CaviarDreams.woff2') format('woff2'), 
            /* url('/assets/fonts/CaviarDreams-BoldItalic.woff') format('woff'), 
            url('/assets/fonts/CaviarDreams-Italic.woff') format('woff')     */
            url('/assets/fonts/CaviarDreams.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

.photo-container, .photo-container2 {
    font: Montserrat, sans-serif;
}

.navbar {
    background-color: rgba(51, 51, 51, 0); 
    overflow: hidden;
}

.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block; 
    color: black; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}

.navbar li a:hover {
    background-color: rgba(51, 51, 51, 0.7); 
}

.navbar li.active a {
    background-color: rgba(76, 175, 80, 0.7); 
}

.photo-container{
    background-color: #f2f2f2;
}
.container1{
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/white-woman-enjoying-weekend-concept.jpg');
    background-color: #f2f2f2;
    max-width: 100%;
    display: block; 
    margin: 0 auto;
    position: relative; 
    z-index: 1; 
}
.container2{
    position: absolute; 
    top: 70%; 
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh; 
    margin-top: -16vh; 
    background-color: black; 
    z-index: 2; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-top-left-radius: 60vw 36vh;
    border-top-right-radius: 60vw 40vh; 
}
.mini-container1 {
    font-family: 'Playlist', sans-serif;
    width: 10vw; 
    height: 10vh; 
    color: #ffffff;
    display: flex;
    font-size: 10vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-5%);
    top: 25vh; 
}
.mini-container2 {
    font-family: 'Sansumi', sans-serif;
    width: 50vw; 
    height: 10vh; 
    color: #ffffff;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(0%);
    top: 36vh; 
}
.mini-container3 {
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: normal;
    text-decoration: none;
    width: 50vw;
    height: 10vh; 
    color: #ffffff;
    display: flex;
    font-size: 25px; 
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(0%);
    top: 3vh;
    margin: 0;
    flex-direction: column; 
}
.mini-container3 p {
    position: absolute; 
    top: 0; 
    align-items: center;
}
.horizontal-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    margin-top: 20px; 
}

.horizontal-list li {
    display: inline; 
    margin-right: 10px; 
}

.horizontal-list li:last-child {
    margin-right: 0; 
}
.container3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 30vh; 
    height: 30vh; 
    background-color: whitesmoke;
    z-index: 3;
    border-radius: 50%;
    align-items: center;
}
