<div class="photo-container">
    <div class="container1">
        <nav class="navbar">
            <ul>
                <li><a href="#">Explore</a></li>
                <li *ngIf="profile_id == authuser?.id"><a [routerLink]="['/about', authuser?.id]">About</a></li>
                <li *ngIf="profile_id != authuser?.id"><a [routerLink]="['/about', profile_id]">About</a></li>
                <li *ngIf="profile_id == authuser?.id"><a [routerLink]="['/contact', authuser?.id]">Contact </a></li>
                <li *ngIf="profile_id != authuser?.id"><a [routerLink]="['/contact', profile_id]">Contact </a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Collaborations</a></li>
                <!-- <button (click)="openDialog()" class="logout-button">Button</button> -->
            </ul>
        </nav>
        {{profile_id}}
            {{authuser?.id}}
            {{name}}
            {{username}}
            <p>{{dob}}
            {{gender}}
            {{blood}}
            {{contact}}
            {{email}}</p>

        {{authuser?.id}}
    </div>
    <div class="container2">
        <div class="mini-container1">
            {{name}}
        </div>
        <div class="mini-container2">
            {{about}}
        </div>
        <div class="mini-container3">
            <p>Followers: 20<br></p>
            <ul class="horizontal-list">
                <li><a href="https://github.com/wasimaannan">GitHub</a></li>
                <li><a href="https://facebook.com/wasimaannan">Facebook</a></li>
                <li><a href="https://instagram.com/wasimaannan">Instagram</a></li>
                <li><a href="https://linkedin.com/wasimaannan">LinkedIn</a></li>
            </ul>
        </div>

    </div>
    <div *ngIf="profile_id==authuser?.id"  (click)="openpropic()" class="container3">
        <img [src]="profilepic?.path" alt="" class="profile-picture">
        <div class="hover-message">Add Profile Picture</div>
    </div>
    <div *ngIf="profile_id!=authuser?.id" class="container3">
        <div class="hover-message">Add Profile Picture</div>
    </div>




