<div class="photo-container"> 
    <div class="container1"> 
        <nav class="navbar">
            <ul>
                <li><a href="#">Explore</a></li>
                <li *ngIf="profile_id == authuser?.id"><a [routerLink]="['/about', authuser?.id]">About </a></li>
                <li *ngIf="profile_id != authuser?.id"><a [routerLink]="['/about', profile_id]">About </a></li>
                <li *ngIf="profile_id == authuser?.id"><a [routerLink]="['/profile', authuser?.id]">Profile </a></li>
                <li *ngIf="profile_id != authuser?.id"><a [routerLink]="['/profile', profile_id]">Profile </a></li>
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Collaborations</a></li>
            </ul>
        </nav>
    </div>
    <div class="container2">
        <div class="mini-container1">
            <p>Contact</p>
        </div> 
        <div class="mini-container2">
            <ul>
                <li><strong>Contact:</strong> {{ contact }}</li>
                <li><strong>Email:</strong> {{ email }}</li>
            </ul>
            <ul class="horizontal-list">
                <li><a href="https://github.com/wasimaannan">GitHub</a></li>
                <li><a href="https://facebook.com/wasimaannan">Facebook</a></li>
                <li><a href="https://instagram.com/wasimaannan">Instagram</a></li>
                <li><a href="https://linkedin.com/wasimaannan">LinkedIn</a></li>
            </ul>
        </div> 
    </div> 

    
        
    


