<div class="container mt-4">
    <div class="container">
        <div class="toggle-container">
            <form (ngSubmit)="createPost()" #postForm="ngForm">
                <h1>Create Post</h1>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" [(ngModel)]="description" name="description" class="form-control" id="description" placeholder="Enter Description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="images" class="form-label">Image</label>
                    <input type="file" (change)="onFileSelected($event)" name="images" class="form-control" id="images" accept="image/*">
                </div>
                
                <div class="mb-3" *ngFor="let file of selectedFilesArray; let i = index">
                    <label for="images" class="form-label">Image {{ i + 1 }}</label>
                    <input type="file" (change)="onFileSelected($event)" name="images" class="form-control" id="images" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary mt-4">Register</button>
            </form>
            <button (click)="dialogRef.close()">Close</button>
        </div>
    </div>
</div>
